# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# Jupyter and notebooks
.ipynb_checkpoints/

# MATLAB
*.asv
*.fig
*.mat
*.mex*
.DS_Store

# Logs and misc
*.log
*.tmp
*.out
